@charset "UTF-8";
/*noinspection ALL*/
@font-face {
    font-family: "IRANSansWeb Light";
    src: url("/assets/fonts/IRANSansLight.eot");
    src: url("/assets/fonts/IRANSansLight.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/IRANSansLight.woff") format("woff"), url("/assets/fonts/IRANSansLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

/*noinspection ALL*/
@font-face {
    font-family: "IRANSansWeb Medium";
    src: url("/assets/fonts/IRANSansBold.eot");
    src: url("/assets/fonts/IRANSansBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/IRANSansBold.woff") format("woff"), url("/assets/fonts/IRANSansBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

/*noinspection ALL*/
@font-face {
    font-family: "IRANSans";
    src: url("/assets/fonts/IranRegular.eot");
    src: url("/assets/fonts/IranRegular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/IranRegular.woff") format("woff"), url("/assets/fonts/IranRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.IRANSansWeb-Light {
    font-family: "IRANSansWeb Light", sans-serif;
}

.IRANSansWeb-Medium {
    font-family: "IRANSansWeb Medium", sans-serif;
}

.IRANSansWeb-Regular {
    font-family: "IRANSans", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

body::before {
    background: #161b25 url('/assets/png/bonab-university.png') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

input::placeholder {
    font-family: "IRANSansWeb Light", sans-serif !important;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    margin: auto;
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text:before {
    content: '';
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1.1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: white;
    background-color: #343a40;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}